body{
    margin:0;
    padding: 0;
    text-align: center;
}

canvas{
    margin:0;
    padding: 0;
}

.screen{
    background-color: black;
}

.bar{
    width: 38px;
    height: 0px;
    background-color: black;
    float: left;
    margin-top: 100px;
    border: 1px solid rgb(255, 212, 212);
}

.bars{
    background-color: rgb(255, 220, 220);
    width: 400px;
    height:100px;
    margin: auto;
}

.btn{
    padding:10px 0;
    padding-bottom: 50px;
}

button{
    margin: 0;
    width: 40px;
    padding:10px 0;
    background-color: rgb(255, 239, 239);
    border: 2px solid rgb(255, 212, 212);
}

button:hover{
    background-color: rgb(255, 184, 184);
}